


<div class="container-profile" *ngIf="(auth.isAuthenticated$ | async)">
  <mat-card>
    <h5>You might need to logout and login again to see the first changes</h5>
<mat-form-field appearance="outline">
  <mat-label>Employee ID</mat-label>
  <input matInput [(ngModel)]="employee.Emp_ID">
</mat-form-field>
&nbsp;&nbsp;
<mat-form-field appearance="outline">
    <mat-label>Email</mat-label>
    <input matInput disabled [(ngModel)]="employee.Email">
  </mat-form-field>  

<br>
<mat-form-field appearance="outline">
  <mat-label>FirstName</mat-label>
  <input matInput [(ngModel)]="employee.FirstName">
</mat-form-field>
&nbsp;&nbsp;
<mat-form-field appearance="outline">
  <mat-label>Lastname</mat-label>
  <input matInput [(ngModel)]="employee.LastName">
</mat-form-field>
<br>

<mat-form-field appearance="outline">
  <mat-label>Department</mat-label>
  <input matInput [(ngModel)]="employee.Department">
</mat-form-field>
&nbsp;&nbsp;
<mat-form-field appearance="outline">
  <mat-label>Position</mat-label>
  <input matInput [(ngModel)]="employee.Position">
</mat-form-field>
<br>
<mat-form-field appearance="outline">
  <mat-label>Pay Rate</mat-label>
  <input matInput [(ngModel)]="employee.Pay_Rate">
</mat-form-field>
&nbsp;&nbsp;
<mat-form-field appearance="outline">
  <mat-label>Phone</mat-label>
  <input matInput [(ngModel)]="employee.Phone">
</mat-form-field>

<br>
<button (click)="save()" >Save</button>
</mat-card>
</div>