<style>
   
</style>

<!-- Toolbar -->
<div class="toolbar" role="banner">
  <a [routerLink]="['/']"><span class="brand-text" style="font-weight: bold; margin-left: 50px; color: rgb(191, 235, 241)">TimeCal</span></a>
  <div class="spacer">
    <a [routerLink]="['/profile']" class="links" style="color: white;" >   Profile
    </a>
    <a class="nav-link mt-1" [routerLink]="['/timesheets']" style="color: white;">Timesheet</a>
   
  </div>
  <div class="buttons">
    &nbsp;
    &nbsp;
    <app-authentication-button></app-authentication-button>
    
  </div>
</div>

<div class="content" role="main">

  <!-- Highlight Card -->

  <!-- Resources -->
    
  <router-outlet></router-outlet>
  <!-- <div class="card-container">
    

  </div>
 -->
  <!-- Links -->
 

  <!-- Footer -->
  <footer>

  </footer>

</div>